    {% extends 'basic.html' %}
    {% block title %}
    {% endblock title %}
    {% block body %}
    {% include 'head.html' %}
    {% include 'app_headerstarter.html' %}
     <!--Booking Section starts here-->
{% include 'app_booking.html' %}
    <!--Booking Section ends here-->
    <!--Fetched reults appear here-->
{% include 'app_bkResult.html' %}
    <!--Fetched results ends here-->


           <!---HouseView--->
        {% include 'houseview.html' %}
        <!---HouseView--->
    <!--Room tables ends here-->
    <!-- Footer Start -->
    {% include 'footer.html' %}
        <!-- Footer End -->
    {% include 'js.html' %}
    {% endblock body %}
   
