<html>
      <head>
          {% include 'head.html' %}
      </head>
      <body>
        <!--Navbar-->
        {% include 'homeNavbar.html' %}
        <!--/Navbar-->
        <!-- Page Header Start -->
        
        <!-- Page Header End -->
        <!--Booking-->
        {% include 'app_booking.html' %}
        <!--Booking-->
        
    <!--Fetched reults appear here-->
        {% include 'app_bkResult.html' %}
    <!--Fetched results ends here-->

       <!--Footer-->
       {% include 'footer.html' %}
       <!--/Footer-->
{% include 'js.html' %}
</body>
</html>